mat-input-container {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}
mat-card-actions>a,
mat-card-actions>button{
    float: right;
}

.div-title{
    margin-bottom: 70px;
}

.h2-title{
    font-weight: bold;
    line-height: 32px;
}