<h4 mat-dialog-title>Recover Password</h4>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" >
  <mat-dialog-content>
    <mat-card>
      <mat-input-container class="w100p">
        <input type="text"
        formControlName="field_0_email"
        [ngModel]="somethingChild?.email"
        mdInput placeholder="Your e-mail here">
      </mat-input-container>

      <mat-error *ngIf="forgotPasswordForm.controls.field_0_email.hasError('required') && forgotPasswordForm.controls.field_0_email.touched">
        Campo obrigatório
      </mat-error>

      <mat-error *ngIf="!forgotPasswordForm.controls.field_0_email.hasError('required') && !forgotPasswordForm.controls.field_0_email.valid && forgotPasswordForm.controls.field_0_email.touched">
        Invalid email
      </mat-error>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button type="submit" mat-raised-button [disabled]="!forgotPasswordForm.valid">
        Send recover link
      </button>
  </mat-dialog-actions>
</form>