mat-toolbar {
    position: fixed;
    top: 0;
    background: #37474f;
    color: #fff;
    z-index: 100;
}

#competition {
    position: relative;
    margin-left: 0;
    top: 80px;
    width: 200px;
    float: left;
}

#countdown {
    position: relative;
    margin-left: 0;
    top: 80px;
    width: 200px;
    float: right;
}

#router-outlet {
    position: relative;
    margin: 0 auto;
    top: 80px;
}

#senai-icon {
    height: 40px;
    vertical-align: middle;
}

#toolbar-title {
    color: #fff;
    margin: 0 0 0 30px;
    padding: 0;
}

@media only screen and (max-device-width: 320px) {

        #toolbar-title{
            margin: 0;
        }

        .div-form-pattern {
            background-color: transparent;
            font-size: 16px; 
            padding: 10px 0 10px 5px; 
            vertical-align: middle;
        }

}